h1 {margin-top: 0px;margin-bottom: 0px;}
ul {list-style: none;padding-left:0px;margin: 0;border: 0;}
body{ background-color:black;}
/* The dots/bullets/indicators */
.dot { height: 13px; width: 13px; margin: 0 2px; background-color: #717171;border-radius: 50%;display: inline-block; transition: background-color 0.6s ease;}
.active {background-color: #bbb;}
/* Number text (1/3 etc) */
.numbertext {color: #ff9900; font-size: 15px; position:absolute; top:0; left: 10px;}
a{ color:#4D4D4D; text-decoration:none;}
a:hover{ color:#ff9700; text-decoration:none;}
.vdots { text-align:center; height: 20px; width: 100%; position: absolute; bottom: 0; left: 0;}

/*Footer*/
.social{ width: 100%; text-align:center;}
.social p{ color:white;}
.copyright { width: 100%; color: #a7a7a7; font-size: 10px; font-family: "Arial"; text-align: center; margin-top:10px;}

/*Navigation*/
.top{ width:100%; height:80px; background:#000000;border-bottom: 1px solid #ff9800!important;}
.top .wrapper{ width:1000px; margin:0 auto}
.top-logo{ float:left}
.top-logo a{ width:166px; height:75px; background:url(logo.jpg) no-repeat left top; display:block; background-size:166px 80px}
.top-menu{ float:left; padding-top:24px; margin-left:85px;}
.top-menu .home{ width:120px}
.top-menu a{ float:left; display:block; line-height:56px; padding:0 15px; text-align:center; font-size:17px; color:#FFF; font-weight:bold;}
.top-menu a:hover{ background-color: #ff9700; color: black;}
.top-menu a.active{background-color: #ff9700; color: black;}
.top-total{ float:right; background:#ff9700; width:160px; height:34px; text-align:center; line-height:34px; color:#FFF}
.top-total span{ font-family:Georgia; font-size:17px; color:#FFE400; padding:0 5px}

/*Main content-left*/
.main{ width:1100px; margin:0 auto; height:auto; overflow:hidden}
.main-left{ float:left; width:800px}
.main-left .tnav{ width:800px; height:33px;}
.main-left .tnav dt{ float:left; height:32px; text-align:left;  padding:0 2px; color:#ff9700; font-weight:800; font-family:Arial}
.main-left .tnav dd a{ float:left; height:30px; text-align:left;  margin-left:19px; padding:0 2px}
.main-left .tnav dd a:hover{ height:32px; border-bottom:2px solid #ff9700; color:#ff9700; padding:0 2px}
.main-left .logobox{ width:840px; height:auto; overflow:hidden; border-top:2px solid #ff9700; border-bottom:2px solid #ff9700;}
.main-left .logobox dt{ float:left; width:122px; height:120px; margin:20px 12px 0 0; margin-left:30px}
.main-left .logobox dt img{ width:122px; height:99px}
.main-left .logobox dt a{ font-size:20px; color:#ff9700;}
.main-left .pagination { display: inline-block; float: right; position: relative; left: -38%;}
.main-left .pagination a { color: black; background-color: #FFF; border-radius: 5px; float: left; padding: 5px 10px; margin:2px; text-decoration: none;}
.main-left .pagination a.active { background-color: #ff9700; color: white; border-radius: 5px;}
.main-left .pagination a:hover:not(.active) { background-color: #ff9700; border-radius: 5px;}
.main-left .description { color: white; margin-top: 90px;margin-left:25px; margin-bottom: 25px; padding: 20px; text-align:center;background: #000000; 
	/*Gradient*/
	background: -webkit-linear-gradient(to top, #000000 , #434343); 
	background: linear-gradient(to top, #000000 , #434343);
	/*Border*/
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 2px solid #ff9700;
	/*Shadows*/
	-webkit-box-shadow: 0px 0px 80px -16px rgba(255,151,0,1);
	-moz-box-shadow: 0px 0px 80px -16px rgba(255,151,0,1);
	-moz-box-shadow: 0px 0px 80px -16px rgba(255,151,0,1);
	box-shadow: 0px 0px 80px -16px rgba(255,151,0,1);
}
.main-left .articles {width: 840px; overflow:hidden; border:1px solid #ff9700; position: relative;height:auto;margin-top:10px;}
.main-left #myImg {position:relative;border-radius: 5px;height: 230px; width:410px;margin-top:5px;margin-bottom:5px; margin-left:-20px; border-radius:5px;padding-left:40px;}
#myImg:hover {opacity: 0.3;transition:opacity 0.8s}
.main-left .article-info {float: right; width: 420px; padding-top: 20px;}
.main-left .article-title { font-weight: bold; font-size: 14px; color: #FFF; font-family: "Arial"; text-decoration: none; display: block;}
.main-left .article-title:hover {color: #ff9700;}
.main-left .article-added {float: left; color: #999; font-size: 10px; font-family: "Arial"; margin-right: 15px;}
.main-left .read-more{font-size: 11px; color: #FFF; font-family: "Arial"; font-weight: bold; padding-left: 5px; margin-top:20px; text-decoration: none;}
.main-left .read-more:hover{color: #ff9700;}
.main-left .article-description {font-size: 12px; color: #4d4d4d; font-family: "Arial"; padding-bottom: 5px;overflow:hidden;padding-right:10px;}
.main-left .clear { border-radius: 2px; border-top: 1px groove #ff9700;padding-bottom:10px;padding-top:10px;width:800px;margin-left:20px;}
/*Main content-right*/
.main-right{ width:225px; float:right;}
.main-right .box1{ height:auto; overflow:hidden; padding-top:14px}
.main-right .box1 dt{ height:22x; line-height:26px; border-bottom:1px solid #F6F6F6; padding-left:10px}
.main-right .box1 .s01{ font-size:17px; font-family:Georgia; font-style:italic; padding:0 6px; color:#333; width:25px; display:inline-block}
.main-right .box1 .s02{ float:right; font-weight:normal; color:#7a7a7a; font-style:normal; padding-right:5px}
.main-right .sign{ font-size:10px; color:#888; text-align:right; height:15px; line-height:15px; margin-top:6px}
.main-right .t3{ width:auto; height:30px; line-height:30px; font-weight:800; padding-left:13px; margin-top:30px; background:#F0F0F0}
.main-right .box1 .image1{float:right; border-radius:5px; padding-top: 2px;}

@media only screen and (max-width:1000px)
{
	.top{ width:100%; height:105px; background:#000000;border-bottom: 2px solid #ff9800!important;}
	.top .wrapper{ width:100%; height:88px; margin: 0 auto;}
	.top-logo{ width:100%; height:58px;}
	.top-logo a{ width:166px; height:80px; background:url(logo.jpg) no-repeat left -12px; background-size:160px 80px; margin-left:5px; margin:0 auto}
	.top-menu{padding-left: 15%; margin-left: 0px;padding-top: 0; width: 100%; text-align: center; background:#000000; overflow:auto;}
	.top-menu a{ line-height:20px; padding:0; width:40.66%; font-size:14px; color:#FFEAEA; font-weight:bold; margin-left:0px }
	.top-menu .home{margin-right:8px; border:none; width:18.66%; background:none}
	.top-menu .logos{width:41.66%}
	.top-menu a:hover{ border:none}
	.top-total{ display:none}
	
	.main{ width:auto; padding:0 8px}
	.main-left{ width:100%; overflow:hidden}
	.main-left .tnav{ width:auto; height:13px;}
	.main-left .tnav dt{ float:left; height:20px; text-align:left;  padding:0 2px; color:#ff9700; font-weight:800; font-family:Arial}
	.main-left .tnav dd a{ float:left; height:25px; text-align:left;  margin:1px; padding:0 2px}
	.main-left .tnav dd a:hover{ height:22px; border-bottom:2px solid #ff9700; color:#ff9700; }
	.main-left .t1{ width:auto; margin-top:20px}
	.main-left .t2{ width:auto}
	.main-left .t3{ width:auto; border-bottom:2px solid #EBEBEB; margin-top:30px; font-size:17px; padding-left:30px}
	.main-left h1{ padding-top:0}
	.main-left .logobox{ width:auto; height:auto; overflow:hidden; display: inline-block; text-align: left; border-top:2px solid #ff9700; border-bottom:2px solid #ff9700;}
	.main-left .logobox dt{ width:83px; height:88px; margin:25px 10px 0 5px; float: left; padding-left:10px;}
	.main-left .logobox dt a{color:#ff9700; font-size:14px ;position:center;}
	.main-left .logobox dt img{ width:83px; height:67px}
	.main-left .content img{ margin:0 auto; display:block}
	.main-left .pagination a { color: black; background-color: #FFF; border-radius: 5px; float: left; padding: 5px 10px; margin:2px; text-decoration: none;}
	.main-left .pagination a.active { background-color: #ff9700; color: white; border-radius: 5px;}
	.main-left .pagination a:hover:not(.active) { background-color: #ff9700; border-radius: 5px;}
	.main-left .description { color: white; margin:20px;margin-top:50px; padding: 20px; text-align:center;background: #000000; 
	/*Shadows*/
	-webkit-box-shadow: 0px 0px 80px -6px rgba(255,151,0,1);
	-moz-box-shadow: 0px 0px 80px -6px rgba(255,151,0,1);
	box-shadow: 0px 0px 80px -6px rgba(255,151,0,1);
	}
	.main-left .articles {width: auto; overflow:hidden; border:1px solid #ff9700; position: relative; height: auto; }
	.main-left #myImg {position: relative ;border-radius: 5px; width: 100%; height: auto; margin-top: 5px; margin-bottom: 5px; border-radius:5px;}
	#myImg:hover {opacity: 0.3;transition:opacity 0.8s}
	.main-left .article-info {float: left; width: auto; padding-top: 10px; padding-bottom:10px; padding-left:10px; }
	.main-left .article-title { font-weight: bold; font-size: 14px; color: #FFF; font-family: "Arial"; text-decoration: none;}
	.main-left .article-title:hover {color: #ff9700;}
	.main-left .article-added {float: left; color: #999; font-size: 10px; font-family: "Arial"; }
	.main-left .read-more{font-size: 11px; color: #FFF; font-family: "Arial"; font-weight: bold; text-decoration: none;}
	.main-left .read-more:hover{color: #ff9700;}
	.main-left .article-description {font-size: 12px; color: #4d4d4d; font-family: "Arial"; padding-bottom: 5px;overflow:hidden;padding-right:10px;}
	.main-left .clear { border-radius: 2px; border-top: 1px groove #ff9700; padding-bottom: 10px; padding-top: 10px; display: inline-block; margin-left:0px;}
	
	.main-right{ width:100%}
}
